.container {
  font-family: 'Verdana';
  font-style: normal;
  @media (max-width: 767px) {
    margin: 0 auto;
    max-width: 320px;
    padding-top: 32px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
    padding-top: 100px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-top: 306px;
  }
}
